* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Sanchez', serif;
    background: #f5f5f5;
}

section {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #88e297;
    z-index: 1;
}

header{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    z-index: 2;
}

img.logo-main{
    float: left;
    height: 25px;
    width: auto;
    top: 15px;
    left: 25px;
    position: relative;
    padding-right: 80px;
}

img#mainpage-logo {
    margin: 25px;
}

.logo {
    height: 30px;
    width: auto;
    position: absolute;
    top: 15px;
    left: 40%;
}

/*Navigation menu*/
nav li{
    display: inline-block;
    padding: 0 30px 0 30px;
}

nav ul.ul2 {
    float: right;
}

nav ul li a {
    text-decoration: none;
}

nav ul li.li2 {
    padding-right: 30px;
}

nav li:nth-child(1) {
    float: left;
    padding: 21px 80px 20px 25px;
}

nav li:nth-child(2) {
    float: right;
    padding: 21px 25px 20px 30px;
    position: relative;

}

nav li:nth-child(3) {
    padding: 15px 20px 10px 80px;
    float: right;
}

nav ul {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

nav ul ul {
    display: none;
}

nav ul #account {
    min-width: 100px;
}

nav ul #account:hover {
    background-color: #DEB887;
    padding: 21px 25px 20px 30px;
    position: relative;
}

nav ul #account a {
    display: block;
    padding: 25px 15px;
    color: #000000;
    text-decoration: none;
}

nav ul #account:hover ul {
    display: block;
    vertical-align: top;
}

nav ul #account ul {
    width: 100%;
    position: absolute;
    right: 0;
    top: 60px;
    padding: 0;
    background-color: #88e297;
}

nav ul #account ul li {
    padding: 0;
    min-width: 100%;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
}

nav ul #account ul li:hover {
    background-color: #DEB887;
    position: relative;
    width: 100%;
    padding: 0;

}

nav ul #account ul a {
    display: block;
    text-decoration: none;
    color: #000000;
}

img.help {
    height: 25px;
    width: auto;
}

/*Main body*/
div.main-body {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

p {
    margin: 10px;

}

/*Sign in/sign up popup*/
#form_signin, #form_signup {
    opacity: 0.95;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    overflow: auto;
    background-color: grey;
    z-index: 1;
    text-align: center;
}

#popup_signin, #popup_signup {
    position: fixed;
    left: 50%;
    top: 17%;
    margin-left: -202px;
    opacity: 1;
    z-index: 10000;
    display: none;
}

form {
    max-width: 300px;
    min-width: 250px;
    padding: 10px 15px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: snow;
}

#timeraft form img#close_signin, #timeraft img#close_signup {
    height: 10%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding-right: 0;
}

#submit_signin, #submit_signup {
    height: auto;
    width: 35%;
    display: block;
    margin: 10px auto;
    align-items: center;
}

#popup_singin h2, #popup_singup h2 {
    background-color:#FEFFED;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}

/*Main page strips*/
#timeraft {
    background-color: floralwhite;
    height: auto;
    width: 100%;
    position: static;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

#features {
    background-color: burlywood;
    width: 100%;
    height: auto;
    position: static;
    padding-top: 60px;
    padding-bottom: 60px;

}

#aboutus {
    background-color: floralwhite;
    width: 100%;
    height: auto;
    position: static;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

#timeraft img, #timeraft h1, #features p, #features h1, #aboutus p, #aboutus h1 {
    padding-right: 25px;
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/*Login buttons for FB and Google*/
.nupud {
    display: inline-block;
    padding: 10px 20px;
}

.nupud .fb-login-button {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

form input {
    margin: 5px;
    padding: 2px;
}

h1, h2 {
    text-align: center;
}

#features ul {
    text-align: center;
    padding: 10px;
}

#features ul li, #aboutus ul li {
    padding: 2px;
}

#timeraft h3 {
    margin: 5px 250px 25px 250px;
    padding: 0;
}

/*Board CSS*/
div.main-body .board {
    width: 85%;
    height: auto;
    display: inline-block;
    top: 5px;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

div.main-body .board .container {
    width: 33.3%;
    float: left;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 3;
    position: static;
}

div.main-body .board .container .list {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.list hr {
    width: 75%;
    margin: 3px auto;
    border: 0;
    color: #5fd873;
    background-color: #5fd873;
    height: 1px;
}

.list p, .listplus p {
    border: 3px lavender outset;
    background-color: aliceblue;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 2px 0;
    cursor: pointer;
}

div.main-body .board .container .list .boardpcontainer {
    background-color: lavender;
    padding: 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/*Mainboard CSS*/
div.main-body .board .maincontainer {
    width: 50%;
    float: left;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: static;
}

div.main-body .board .maincontainer .list, div.main-body .board .maincontainer .listplus {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

div.main-body .board .maincontainer .list .boardpcontainer,
div.main-body .board .maincontainer .listplus .boardpcontainerplus{
    background-color: lavender;
    padding: 5px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#addButton {
    height: 21px;
    float: right;
    margin-right: 12px;
    cursor: pointer;
}

/*Popup*/
#popup_desc, #popup_newdesc, #popup_start, #popup_pending, #popup_finish {
    width: 30%;
    position: relative;
    top: 17%;
    margin: 0 auto;
    opacity: 1;
    z-index: 1;
    display: none;
}

/*Inside popup (defines white background)*/
div.boarddesc {
    min-width: 250px;
    padding: 10px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: snow;
}

form#form_newboard, form#form_newtask {
    max-width: inherit;
    min-width: 250px;
    padding: 10px 15px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: snow;
}

#form_newtask table, #form_newboard table {
    width: 95%;
    margin: 0 auto;
}

/*Closing buttons on popups*/
#popup_desc img#close_desc, #popup_newdesc img#close_newdesc, #popup_start img#close_start,
#popup_newdesc img#close_newtask, #popup_pending img#close_pend, #popup_finish img#close_finish {
    width: 5%;
    position: absolute;
    right: -2px;
    top: -2px;
    cursor: pointer;
    padding-right: 0;
}

/*Popup background*/
#form_popup {
    opacity: 0.95;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    overflow: auto;
    background-color: grey;
    z-index: 1;
    text-align: center;
}

input {
    font-family: "Sanchez", serif;
    margin: 10px;
    padding: 5px;
}

textarea {
    font-family: "Sanchez", serif;
    margin: 10px;
    padding: 5px;
    resize: none;
}

/*Timer without JS*/
.timercontainer {
    padding: 200px;
    text-align: center;
}

.timer {
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.cell {
    /*Should only display 1 digit. */
    width: 0.7em;
    height: 40px;
    font-size: 50px;
    overflow: hidden;
    position: relative;
    float: left;
}

.numbers {
    width: 0.7em;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#timer_controls {
    margin-top: -5px;
}

#timer_controls label {
    cursor: pointer;
    padding: 5px 10px;
    background: #efefef;
    font-size: 11px;
    border-radius: 0 0 3px 3px;
}

/*input[name="controls"] {
    display: none;
}*/

#start:checked ~ .timer .cell .numbers {
    animation-play-state: running;
}

#stop:checked ~ .timer .numbers {
    animation-play-state: paused;
}

#restart:checked ~ .timer .cell .numbers {
    animation: none;
}

.moveten {
    animation: moveten 10s steps(10, end) infinite;
    animation-play-state: paused;
}

.movesix {
    animation: movesix 10s steps(6, end) infinite;
    animation-play-state: paused;
}

/*Syncing the animation speed with time speed*/
.tenhour {animation-duration: 360000s;}

.hour {animation-duration: 36000s;}

.tenminute {animation-duration: 3600s;}

.minute {animation-duration: 600s;}

.tensecond {animation-duration: 60s;}

.second {animation-duration: 10s;}

/*Animation for the timer*/
@keyframes moveten {
    0% {top: 0;}
    100% {top: -400px;}
}

@keyframes movesix {
    0% {top: 0;}
    100% {top: -240px;}
}

/*Account CSS*/
img.profile {
    width: 75%;
    height: auto;
}

div.accountcontainer {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 50px;
    text-align: justify;
    overflow: hidden;
}

div.imgcontainer {
    float: left;
    width: 25%;
    padding-bottom: 5em;
}

div.imgcontainer img {
    display: block;
    margin: 0 auto;
}

div.datacontainer {
    width: 75%;
    float: left;
    padding-bottom: 5em;

}

/*Settings CSS*/
#settings {
    width: 75%;
    margin: 0 auto 20px auto;
    height: auto;
    position: static;
    padding-top: 25px;
    border-spacing: 5px;

}

#settings th, #settings td {
    padding: 5px;
}

#settings label {
    padding-left: 10px;
    padding-right: 45px;
}

#settings input[type="text"], #settings input[type="email"], #settings textarea {
    height: 30px;
    width: 500px;
}

#settings textarea {
    height: 55px;
    width: 500px;
}

#settings input[type="password"] {
    height: 30px;
}

#pause2, #stop2 {
    margin: 10px 15px;
}